body {
  font-family: sans-serif;
  position: relative;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  max-width: 75%;
}

#mapicon {
  width: 150px;
  max-width: 50%;
}
